.view {
  text-align: center;

  .car__img {
    width: 500px;
    margin: 0 auto;

    img {
      width: 500px;
    }
  }

  .make {
    font-size: 30px;
  }

  button {
    border: 0;
    padding: 10px;
    color: #fff;
    background-color: #ff6239;
    border-radius: 5px;
    width: 500px;

    &:hover {
      background-color: #fff;
      color: #ff6239;
      border: 1px solid #ff6239;
    }
  }
}
